/* PHASE 3: Layout */

.content {
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
  width: 900px;
  position: relative;
}

.content:before {
  content: "";
  display: block;
  width: 1px;
  position: absolute;
  left: 240px;
  top: 0;
  bottom: 0;
  background-color: #eee;
}

.content-sidebar {
  min-height: 200px;
  background-color: #f00;
  width: 240px;
  float: left;
}

.content-main {
  min-height: 200px;
  background-color: #0f0;
  width: 660px;
  float: right;
}
