/* PHASE 6: Sidebar */

.profile-picture {
  border-radius: 5px;
  border: 1px solid #000;
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 1;
  top: 100px;
  left: 20px;
}

.profile-info {

}

.profile-nav {

}
